<!-- Footer -->

        <footer class="container">
            <div class="row">
            	<div class="footer-wrapper">
	            	<div class="col-sm-4 col-xs-12 ">
	            		<h2>午餐計畫</h2>
		            	<p><%= fa_stacked_icon "map-marker inverse", base: "circle", text: "實踐大學H302秘密基地" %></p>
	                </div>
	                <div class="col-sm-4 col-xs-12">
	                	<h2>快速連結</h2>
		            	<ul>
		            		<%= render 'common/page_links' %>
		            	</ul>
	                </div>
	            	<div class="col-sm-4 col-xs-12">
	            		<h2>連繫我們</h2>	
		        		<a href="https://github.com/UscStudentProject/LOWMAP" target="_blank">
		        		<%= fa_stacked_icon "github-alt inverse", base: "circle", class: "fa-2x" %>
		        		</a>
	                </div>

	            	<div class="clearfix"></div>
	            </div>
                <div class="col-lg-12 text-center copyright">
                    <p>Copyright &copy; 實踐大學學生社群 x 午餐計畫 2015</p>
                </div>
            </div>
        </footer>